.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0;
}

.portfolio li h3 {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.5rem;
}

.portfolio li h3.github::before {
  content: "";
  display: inline-block;
  width: 0.85rem;
  height: 0.85em;
  background-image: ulr("../img/icons/github.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 0.5rem;
}
