.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skills .tools ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills .tools ul li img {
  max-width: 50px;
  max-height: 50px;
  margin: 0 0.5rem;
}

.skills .personal ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.skills .personal ul li {
  margin-left: 2rem;
  padding: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .skills {
    flex-direction: grid;
    grid-template-columns: 1fr;
  }
}
